<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}">


<head>

	<style>
		.parallax-window {
		    min-height: 300px;
		    background: transparent;
		}
	</style>
	
</head>

<body>

<th:block layout:fragment="conteudo">
	
	<section id="home-section" class="home-section">
		<div class="block-header">
             <h2>Home
                 <small>text bla bla</small>
             </h2>
         </div>
	</section>
	
	<section id="ideia-section" class="home-section">
		<div class="block-header">
             <h2>Ideia
                 <small>text bla bla</small>
             </h2>
         </div>
	</section>
	
		
	<section id="precos-section" class="home-section">
		<div class="block-header">
             <h2>Preço
                 <small>text bla bla</small>
             </h2>
         </div>
	</section>
	
		
	<section id="parceiros-section" class="home-section">
		<div class="block-header">
             <h2>Parceiros
                 <small>text bla bla</small>
             </h2>
         </div>
	</section>
	
	
	
	<blockquote class="blockquote-reverse m-b-25">
		<p>Nem todos os anjos tem asas; ás vezes eles tem apenas o dom de te fazer sorrir...</p>
		<footer>
			Um Ser <cite title=""> Humano</cite>
		</footer>
	</blockquote>

</th:block>


<th:block layout:fragment="javascript-extra">
<script>
	
</script>

<script th:src="@{/vendors/parallax/parallax.min.js}"></script>
<script th:src="@{/js/AfterMidnight.Calendar.js}"></script>


	
</th:block>

</body>
</html>